<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hejin.employeeprovider.dao.EmployeeMapper">
    <select id="queryEmployeeById" resultType="com.hejin.parententity.entity.Employee">
      select * from user where id = #{id,jdbcType=INTEGER};
    </select>
</mapper>
